*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
body{
}
.header{
  background: rgb(0,212,255);
background: linear-gradient(90deg, rgba(0,212,255,1) 9%, rgba(2,0,36,1) 50%, rgba(139,86,193,1) 83%);
height: 10vh;
}
nav{
    display: flex !important;
    justify-content: space-around;
    align-items:center;
    min-height: 8vh;
}
.logo{
    color:rgb(14, 13, 13);
    letter-spacing:10px;
}
ul{
    display: flex;
    width:30%;
    justify-content: space-around;
}
ul li{
    list-style: none;
    color:white;
}
ul li a{
    text-decoration: none;
    color:white;

}
ul li a:hover{
  color:black;
}
.section1{
    display:flex;
    justify-content: space-around !important;
    align-items: center;
    margin:10vh;
}
input[type=text],input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    align-self: center;
  }
h2{
    margin-bottom:20px;
}
  .card{
      width:50%;
      height:15vh;
      border:5px solid red;
      display:flex;
      justify-content: space-around;
  }
  .img{
      border:2px solid red;
      width:100%;
      height:100%;
  }
  .text{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;

  }
  .button{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
    .reserve{
      background-color: transparent;
      border:5px solid purple;
      color:purple;
      padding:20px;
      width:60%;
      cursor: pointer;
  }
  .reserve:hover{
      background-color: purple;
      color:white;
  }
  .page-footer{
    display: flex;
    align-self: flex-end;
  }
  .page-footer .container{
    flex-grow: 1;
    align-self: flex-end;
  }
  .page-footer .footer-copyright{
    align-self: flex-end;
  }
  .page-footer .container ul li a {
    color:purple;
  }